/*-------------
RESET
-------------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*-------------
MAIN
-------------*/
body{
    background-color: red;
}
.container{
    position: relative;
    width: 56.25rem;
    height: 25rem;
    margin: auto;
}
  
.items{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
.item{
    display: none;
    width: 100%;
    height: 100%;
}
  
.face{
    display: block;
}
  
.btns{
    padding: .3125rem .3125rem;
    font-size: 1rem;
    border: none;
    border-radius: .9375rem;
}
  
.previous{
    position: absolute;
    top: 0;
    left: 50%;
}
  
.next{
    position: absolute;
    bottom: 0;
    left: 50%;
}